@import "~bulma/bulma";
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker:400");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$background: #15192b;
$primarycolor: #00a8f4;
$primaryfont: 'Space Mono', monospace;
$light: #F5F2F4;
$default: #A8B2CD;
$dark: #15192b;
$link: #8892b0;
$map: #011019;
$lightgreen: #00fffa;

*, *:before, *:after {
    box-sizing:  border-box !important;
}

.permanent-marker {
    font-family: Permanent Marker, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.type-writer {
    font-family: 'Space Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $link;
}
a:hover {
    color: $link;
}
strong {
    color:  inherit;
}
body,html {
    background-color: lighten($dark, 5%);
    transition: background-color .2s ease, color .2s ease;
    color: $light;
    font-family: 'Space Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body.light-mode {
    background-color: lighten($light, 5%);
    transition: background-color .2s ease, color .2s ease;
    color: $dark;
}
::selection, code[class*="language-"]::selection {
    background-color: #8892b0;
}
::-webkit-scrollbar {
    width: 0.5em;
}
 
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg,#0030cc 0%,#00a4db 100%);
    border-radius: 10rem;
}

.switch-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 95px;
}
.switch-wrapper .moon,
.switch-wrapper .sun {
    width: 17px;
    height: 17px;
}
.switch-wrapper .toggle-wrapper {
    margin: 10px;
}
.switch-wrapper .toggle-wrapper #switch {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}
.switch-wrapper .toggle-wrapper #switch:checked + label {
    background: $primarycolor;
}
.switch-wrapper .toggle-wrapper #switch:checked + label:after {
    left: calc(100% - 3px);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.switch-wrapper .toggle-wrapper label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}
.switch-wrapper .toggle-wrapper label:after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background: $light;
    border-radius: 100%;
}

header.intro {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}
header.intro h1.intro__title {
    font-size: 2rem;
    font-weight: 700;
}
header.intro .intro__tagline {
    font-size: 0.8rem;
}
div#card-cases, div#cases, div#map-cases {
    padding: 0 0 50px;
}
.title {
    font-size: 1.5rem;
}
.subtitle {
    font-size: unset;
}
.overall {
    text-align: center;
    padding: 20px 0 50px;
}
.overall .overall_cases {
    font-size: 5rem;
}
.card {
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(80deg,#0030cc 0%,#00a4db 100%);
}
.card .title, .card .subtitle {
    color: $light;
}
.card p.title {
    background: rgba(255,255,255,.1);
    padding: 15px 30px 20px;
    border-radius: 10px;
}

#map-cases .card {
    height: 60vh;
    margin: unset;
}

thead th, tbody td {
    width: 150px;
}
thead th:last-child {
    width: 150px;
}
thead, tbody {
    display: block;
}
tbody {
    height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
}

p.shrink {
    vertical-align: middle;
}

p.shrink img {
    width: 25px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #01101887;
    border: 0.5px solid #02cda9;
}
.leaflet-container {
    background: $map;
}
.leaflet-popup-content p {
    margin: auto;
}
.popup-main {
    font-family: $primaryfont;
}
.popup-main .popup__image {
    text-align: center;
}
.popup-main .popup__image img {
    outline: 100px solid rgba(2, 205, 169, 0.30);
    outline-offset: -100px;
    overflow: hidden;
}
.popup-main .popup__content .title {
    margin: auto;
    margin-bottom: 10px;
    padding: unset !important;
    background: unset;
    text-align: center;
    color: #02cda9;
    font-size: 20px;
}
.popup__content p, .popup__content span {
    font-size: 15px;
}
.popup__content {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #ffffff;
    padding: 5px 10px;
    margin-top: 10px;
}
.box {
    background: #172a45;
    color: $default;
}
.box .title {
    color: $default;
    font-size: 1.3rem;
}
.box .subtitle {
    color: $default;
    font-size: 0.8rem;
}
.table {
    background: #9090902e;
    color: $default;
}
.content table thead td, .content table thead th {
    color: $lightgreen;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: #fafafa47;
}
span.info {
    color: $lightgreen;
}
.sitefooter {
    text-align: right;
    margin: 10px;
}
.sitefooter .footer__content {
    font-size: 10px;
}
.sitefooter .footer__content {
    color: $light;
}
.sitefooter .footer__content .dmca {
    text-align: right;
}
body.light-mode .sitefooter .footer__content {
    color: $dark;
}